.main-body{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image:repeating-radial-gradient(
        circle at center top,
        transparent 0,
        #0c0854 1.622rem
        ),
        repeating-linear-gradient(#110567d7, #07023c) ;
} 
