.login-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    background-image:repeating-radial-gradient(
        circle at center,
        transparent 0,
        #140846 15rem
        ),
        repeating-linear-gradient(#09053c55, #6b05e0) ; 
}

.logo{
    width: 25vw;
    height: 50vh;
}

.login-btn {
    width: 200px;
    padding: 15px 0px;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    color: black;
    font-weight: 600;
    margin-top: 20%;
}

a{
    text-decoration: none;
}