 /* /* circle {
    transition: all 1s ease-in-out;
    transform: rotate(93deg);
    transform-origin: 50% 50%;
  }
  
  image.active {
    animation: rotation 15s infinite linear;
    transform-origin: 50% 50%;
  }
  
  .progress-circle {
    justify-content: center;
    align-items: center;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  } 
*/

  circle {
    transition: all 1s ease-in-out;
    transform: rotate(93deg);
    transform-origin: 50% 50%;
    /* animation-name: rotation; */
  }
  
  image.active {
    animation: rotation 20s infinite linear;
    transform-origin: 50% 50%;
  }
  
  .progress-circle {
    justify-content: center;
    align-items: center;
    /* animation-name: rotation; */

  }
  
  @keyframes rotation {
    0%{
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }  


  /*
  circle {
  transition: all 1s ease-in-out;
  transform: rotate(93deg);
  transform-origin: 50% 50%;
}

image.active {
  animation: rotation 30s infinite linear;
  transform-origin: 50% 50%;
}

.progress-circle {
  justify-content: center;
  align-items: center;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
  */
  